// CSS Variables for customization
:root {
  /* Dialog */
  --okcancel-dialog-bg: #fff;
  --okcancel-dialog-border-radius: 8px;
  --okcancel-dialog-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 8px 10px -6px rgb(0 0 0 / 10%);
  --okcancel-dialog-max-width: none;
  --okcancel-dialog-min-width: none;
  --okcancel-dialog-max-height: none;
  --okcancel-dialog-min-height: none;
  --okcancel-dialog-width: 500px;
  --okcancel-dialog-height: max-content;
  --okcancel-dialog-padding: 16px 24px;
  --okcancel-dialog-border: none;

  /* Dialog content */
  --okcancel-content-padding: none;
  --okcancel-content-gap: 8px;
  --okcancel-content-flex-direction: column;
  --okcancel-content-justify-content: center;
  --okcancel-content-align-items: unset;
  --okcancel-content-height: 100px;
  --okcancel-content-max-height: none;
  --okcancel-content-min-height: none;

  /* Dialog title */
  --okcancel-title-font-size: 20px;
  --okcancel-title-color: #222;
  --okcancel-title-font-weight: 600;

  /* Dialog description */
  --okcancel-description-font-size: 16px;
  --okcancel-description-color: #8e8e8e;
  --okcancel-description-font-weight: 400;

  /* Dialog btn-box */
  --okcancel-btn-box-padding: 10px 0;
  --okcancel-btn-box-gap: 12px;
  --okcancel-btn-box-flex-direction: row;
  --okcancel-btn-box-justify-content: flex-end;
  --okcancel-btn-box-align-items: center;
  --okcancel-btn-box-height: unset;

  /* Buttons */
  --okcancel-button-padding: 8px 16px;
  --okcancel-button-border-radius: 6px;
  --okcancel-button-width: 100px;
  --okcancel-button-height: 40px;
  --okcancel-button-max-width: unset;
  --okcancel-button-min-width: none;
  --okcancel-button-border: none;
  --okcancel-button-box-shadow: none;
  --okcancel-button-font-size: 16px;
  --okcancel-button-font-weight: 500;
  --okcancel-button-flex: initial;
  --okcancel-button-primary-bg: #2c89e5;
  --okcancel-button-primary-color: #fff;
  --okcancel-button-primary-border: none;
  --okcancel-button-secondary-bg: unset;
  --okcancel-button-secondary-color: #222;
  --okcancel-button-secondary-border: 1px solid #d4d4d4;

  /* Overlay */
  --okcancel-overlay-bg: rgb(0 0 0 / 50%);
  --okcancel-z-index: 1000;
}

@media (width < 640px) {
  :root {
    --okcancel-dialog-width: 85%;
    --okcancel-btn-box-gap: 20px;
    --okcancel-button-flex: 1;
  }
}
